.login-containter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .row-input span {
    width: 100px;
    display: inline-block;
  }
  
  .row-button {
    display: flex;
    justify-content: center;
  }